{% extends 'base.html.twig' %}

{% block title %}Projet - Mes Recettes
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes Ingrédients</h1>

        <a href="{{ path('recette.new' )}}" class="btn btn-primary mt-4">Créer une recette</a>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>
        {% endfor %}

        <table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Difficulté</th>
      <th scope="col">Date de Création</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
    {% for recette in recettes %}
    <tr class="table-secondary">
      <th scope="row">{{ recette.id }}</th>
      <td>{{ recette.name }}</td>
      <td>{{ (recette.price is same as(null)) ? 'Non renseigné' : recette.price}}</td>
      <td>{{ (recette.difficulty is same as(null)) ? 'Non renseigné' : recette.difficulty}}</td>
      <td>{{ recette.CreatedAt|date('d/m/Y') }}</td>
      <td><a href="{{ path('recette.edit', { id: recette.id })}}" class="btn btn-info">Modifier</a></td>
      <td><a href="{{ path('recette.delete', { id: recette.id })}}" class="btn btn-warning">Supprimer</a></td>
    </tr>   
        {% endfor %}
  </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(recettes) }}
    </div>
    </div>
{% endblock %}
